* {
  font-family: sans-serif;
}
.flexForm {
  display: flex;
  flex-direction: column;
}
.width {
  width: 15rem;
}
label,
button {
  margin-top: 1.5rem;
}

button {
  width: 100px;
  align-self: center;
}

.password-details {
  font-size: 0.6rem;
}
